[submodule "Frontend-Mentor-QR-code-card"]
	path = Frontend-Mentor-QR-code-card
	url = https://github.com/AayushYadavz/Frontend-Mentor-QR-code-card
[submodule "Cafe-Menu"]
	path = Cafe-Menu
	url = https://github.com/AayushYadavz/Cafe-Menu
[submodule "Frontend-Mentor-Blog-preview-card"]
	path = Frontend-Mentor-Blog-preview-card
	url = https://github.com/AayushYadavz/Frontend-Mentor-Blog-preview-card
[submodule "Project-07-Huddle-landing-page"]
	path = Project-07-Huddle-landing-page
	url = https://github.com/AayushYadavz/Project-07-Huddle-landing-page
[submodule "Frontend-Mentor-NFT-preview-card"]
	path = Frontend-Mentor-NFT-preview-card
	url = https://github.com/AayushYadavz/Frontend-Mentor-NFT-preview-card
[submodule "Frontend-Mentor-Four-card-feature-section"]
	path = Frontend-Mentor-Four-card-feature-section
	url = https://github.com/AayushYadavz/Frontend-Mentor-Four-card-feature-section
[submodule "Frontend-Mentor-3-Column-preview-card"]
	path = Frontend-Mentor-3-Column-preview-card
	url = https://github.com/AayushYadavz/Frontend-Mentor-3-Column-preview-card
[submodule "Frontend-Mentor-Single-price-card"]
	path = Frontend-Mentor-Single-price-card
	url = https://github.com/AayushYadavz/Frontend-Mentor-Single-price-card
[submodule "Frontend-Mentor-Stats-preview-card"]
	path = Frontend-Mentor-Stats-preview-card
	url = https://github.com/AayushYadavz/Frontend-Mentor-Stats-preview-card
[submodule "Frontend-Mentor-Social-links-profile-card"]
	path = Frontend-Mentor-Social-links-profile-card
	url = https://github.com/AayushYadavz/Frontend-Mentor-Social-links-profile-card
[submodule "Project-06-Mondrian-Painting-using-Grid"]
	path = Project-06-Mondrian-Painting-using-Grid
	url = https://github.com/AayushYadavz/Project-06-Mondrian-Painting-using-Grid
[submodule "Project-05-Pricing-cards"]
	path = Project-05-Pricing-cards
	url = https://github.com/AayushYadavz/Project-05-Pricing-cards
[submodule "Project-04-Resume-using-HTML"]
	path = Project-04-Resume-using-HTML
	url = https://github.com/AayushYadavz/Project-04-Resume-using-HTML
[submodule "Project-03-Dev.com-Landing-page"]
	path = Project-03-Dev.com-Landing-page
	url = https://github.com/AayushYadavz/Project-03-Dev.com-Landing-page
[submodule "Project-01-Amazon.Com-Clone"]
	path = Project-01-Amazon.Com-Clone
	url = https://github.com/AayushYadavz/Project-01-Amazon.Com-Clone
[submodule "Project-02-Meme-card"]
	path = Project-02-Meme-card
	url = https://github.com/AayushYadavz/Project-02-Meme-card
